

<div class="container text-center" style="width: 75%">
   <div style="margin-top: 3rem;"></div>
	<div class="card p-3 border-0">
      <div class="row">
         <div class="col-12">
         {% load static %}
         <img src="{% static 'media/exm1.jpg' %}" class="img-fluid rounded d-block mx-auto" alt="..." style="height: 280px">
         </div>
      </div>
      <div style="margin-top: 2rem;"></div>
      <div class="row">
         <div class="col-12">
            <h2 style="font-size: 32px;">Harrinson Arrubla</h2>
         </div>
      </div>   
      <div style="margin-top: 1rem;"></div>
      <div class="row align-items-center">
         <div class="col-9 col-md-7 col-xl-6 mx-auto">
            <p class="text-justify text-center" style="font-size: 18px;">
               <em>«I do not desire to be a milestone in history. I prefer to sit in front of the piano to blunder.»</em> - Fito Paez.
            </p>
         </div>
      </div> 
      <div style="margin-top: 2rem;"></div>
         <p class="text-start" style="font-size: 18px;">
            I'm Harrinson Arrubla, a Colombian mathematician who graduated from the <a href="https://unal.edu.co/">Universidad Nacional de Colombia</a> (UN - best public university ever!). Currently, I'm wrapping up a Master's degree in Applied Statistics and Data Science at <a href="https://www.utrgv.edu/">The University of Texas Rio Grande Valley</a>. 
            {% comment %} My research interests are on graph theory, statistical learning and modelling, machine learning and geometry. {% endcomment %}
            <br><br>
            I'm not only a professional, student and researcher, but also a husband and father. My family is the core of my life. Entrepreneurship is a passion of mine, and Birdyback represents a dream realized after two years of hard-work, creativity and sacrifice.
         </p>
         {% comment %} <h2 class="text-start" style="margin-top: 1rem;">Research</h2> {% endcomment %}
      <div style="margin-top: 3rem;"></div>
      <nav> 
         <div class="nav nav-tabs active mb-3 justify-content-left no-border" id="nav-tab" style="border-bottom: none;"> 
            <button class="nav-link color-div btn" onclick="changeColor(this); smoothScrollDown('1')" type="button" data-bs-toggle="collapse" data-bs-target="#personal" aria-controls="Personal" style="background-color:#E5E5E5">Personal</button>
            <button class="nav-link color-div btn" onclick="changeColor(this); smoothScrollDown('1')" type="submit" data-bs-toggle="collapse" data-bs-target="#collapseResearch"  aria-controls="Research" style="background-color:#E5E5E5;margin-left: 1px;">Research</button>
         </div> 
      </nav>
      <p class="text-start" style="margin-bottom: 3rem; margin-top: 1rem; font-size: 18px;">
         Here, you'll find a recap about my research projects in my bachelor and master's degree. If you want to continue, just click on "view more ➨" for checking notes and codes snippets. 
      </p>
      <div class="collapse text-start" id="personal" style="margin-bottom: 3rem;">
         <p style="font-size: 18px !important;">
            Here, you'll find a recap about my research projects in my bachelor and master's degree. If you want to continue, just click on "view more ➨" for checking notes and codes snippets. 
         </p>
         <div id="personalID"></div>
      </div>
      <div class="collapse" id="collapseResearch">
         <nav>
            <div class="nav nav-tabs mb-3 justify-content-center" id="nav-tab" role="tablist">
               <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" data-toggle="collapse" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Master's</button>
               <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">UNdergrad</button>
            </div>
         </nav>
         <div class="tab-content p-3" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
               <p class="text-start" style="font-size: 18px;margin-top: 2rem;">
                  My <a href="https://www.sciencedirect.com/science/article/abs/pii/S0960077922010803">Master's thesis research</a> introduces a new alternative approach for solving fractional ordinary differential equations (FODEs) using expected values of random time processes. Interestingly, we have demonstrated an alternative approach to finding fundamental solutions for fractional partial differential equations (PDEs). By applying Lie symmetries to fractional diffusion PDEs with variable coefficients, we obtained explicit solutions that reveal deep connections between symmetries and fractional PDEs. We anticipate similar results for fractional dispersive equations, which will be explored in future work. Overall, this symmetry-based technique provides new insights into fractional PDEs and enables derives general solutions in closed form.
                  <br><br> <script id="researchID"></script>
                  Our approach leverages Monte Carlo integration to evaluate solutions numerically by implementing GPU computing techniques. We conjecture the solutions found for diffusion equations extend to wider classes of FODEs. An interesting consequence is Lévy flights may emerge from the increased latitude of normal diffusion. The availability of general solutions in closed form is valuable for solving many FODEs efficiently. In summary, combining Monte Carlo methods with Lie symmetries introduces a promising novel paradigm for fractional differential equations. This work is supervised by my knowledgeable advisors <a href="https://faculty.utrgv.edu/tamer.oraby/index.htm">Dr. Tamer Oraby</a> (advisor) and <a href="https://faculty.utrgv.edu/erwin.suazo/">Dr. Erwin Suazo</a>  (co-advisor).
               </p>
               <button type="submit" class="btn btn-dark float-end" style="margin-top: 1rem;margin-bottom: 1rem;">View more ➨</button>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
               <p class="text-start" style="font-size: 18px;margin-top: 2rem;">During my undergraduate studies, I conducted a research project on the Representation Theory of Partially Ordered Sets (posets) under the guidance of my advisor Professor Gonzalo Medina, and a fellow student Maria del Rosario. The research was about representations of partially ordered sets (posets) over arbitrary fields were first introduced by Nazarova and Roiter, who developed a differentiation algorithm to classify poset representations of width less than or equal to 3. Their key insight was to represent posets using matrices, transforming the representation problem into a matrix formulation that enables the application of linear algebra techniques. We build on their pioneering work by providing an in-depth explanation of the pairwise differentiation algorithm in its matrix version.</p>
               <button type="submit" class="btn btn-dark float-end" style="margin-top: 1rem;margin-bottom: 1rem;">View more ➨</button>
            </div>
         </div>
         <div style="margin-top: 1rem;"></div>
      </div>
	</div>
</div> 

{% comment %} <div class="container text-center" style="width: 85%">
   {% comment %} <div class="container">
   <div style="margin-top: 3rem;"></div>
      <div class="row">
         <div class="col-12">
         {% load static %}
         <img src="{% static 'media/exm1.jpg' %}" class="img-fluid rounded d-block mx-auto" alt="..." style="height: 280px">
         </div>
      </div>
      <div style="margin-top: 2rem;"></div>
      <div class="row">
         <div class="col-12">
            <h2 style="font-size: 32px;">Harrinson Arrubla</h2>
         </div>
      </div>   
      <div style="margin-top: 1rem;"></div>
      <div class="row align-items-center">
         <div class="col-9 col-md-7 col-xl-6 mx-auto">
            <p class="text-justify text-center" style="font-size: 18px;">
               <em>«I do not desire to be a milestone in history. I prefer to sit in front of the piano to blunder.»</em> - Fito Paez.
            </p>
         </div>
      </div> 
   </div> 
   <div class="container">
      <div class="row">
         <div class="col-12">
            {% load static %}
            <img src="{% static 'media/exm1.jpg' %}" class="img-fluid rounded d-block mx-auto" alt="..." style="height: 280px">
         </div>
         <div class="col-lg-3 col-md-4 col-12 text-start"  style="position: fixed;">
            <div style="margin-top: 2rem;"></div>
            <h3 class="text-start">Content</h3>
               <ul>
                  <li><a href="#academy" style="font-size:20px">Academy</a></li>
               </ul>
         </div>
         <div class="col-lg-9 col-md-8 col-12" style="margin-left: 30%;">
            <!-- Right column content -->
            <div style="margin-top: 2rem;"></div>
            <div class="row">
               <div class="col mx-auto">
                  <h2 class="text-start" id="academy">Academy</h2>
                  <p class="text-start" style="font-size: 18px;margin-top: 1rem;">
                     I'm Harrinson Arrubla, a Colombian mathematician who graduated from the <a href="https://unal.edu.co/">Universidad Nacional de Colombia</a> (best public university ever!), nestled amongst verdant mountains in the heart of coffee country. Currently, I'm wrapping up a Master's degree in Applied Statistics and Data Science at <a href="https://www.utrgv.edu/">The University of Texas Rio Grande Valley</a>. My research interests are on graph theory, statistical learning and modelling, machine learning and geometry. 
                     <br><br>
                     My <a href="https://www.sciencedirect.com/science/article/abs/pii/S0960077922010803">Master's thesis research</a> introduces a new alternative approach for solving fractional ordinary differential equations (FODEs) using expected values of random time processes. Interestingly, we use this approach to find fundamental solutions for fractional partial differential equations (FPDEs) with Caputo and Riesz-Feller derivatives. We explore leveraging stable distributions and techniques like Markov chain Monte Carlo, Monte Carlo integration, and importance sampling to solve numerically fractional differential equations. This work is supervised by my knowledgeable advisors <a href="https://faculty.utrgv.edu/tamer.oraby/index.htm">Dr. Tamer Oraby</a> (advisor) and <a href="https://faculty.utrgv.edu/erwin.suazo/">Dr. Erwin Suazo</a>  (co-advisor).
                     <br><br>
                     During my undergraduate studies, I conducted a research project on the Representation Theory of Partially Ordered Sets (posets) under the guidance of an excelent human being and advisor Professor Gonzalo Medina, and a fellow student Maria del Rosario. The research was about representations of partially ordered sets (posets) over arbitrary fields were first introduced by Nazarova and Roiter, who developed a differentiation algorithm to classify poset representations of width less than or equal to 3. Their key insight was to represent posets using matrices, transforming the representation problem into a matrix formulation that enables the application of linear algebra techniques. We build on their pioneering work by providing an in-depth explanation of the pairwise differentiation algorithm in its matrix version.
                  </p>
               </div>
            </div> 
         </div>
      </div>
   </div>
</div>  {% endcomment %}


   {% comment %} <div style="margin-top: 3rem;"></div>
      <div class="row">
         <div class="col-12">
         {% load static %}
         <img src="{% static 'media/exm1.jpg' %}" class="img-fluid rounded d-block mx-auto" alt="..." style="height: 280px">
         </div>
      </div>
      <div style="margin-top: 2rem;"></div>
      <div class="row">
         <div class="col-12">
            <h2 style="font-size: 32px;">Harrinson Arrubla</h2>
         </div>
      </div>   
      <div style="margin-top: 1rem;"></div>
      <div class="row align-items-center">
         <div class="col-9 col-md-7 col-xl-6 mx-auto">
            <p class="text-justify text-center" style="font-size: 18px;">
               <em>«I do not desire to be a milestone in history. I prefer to sit in front of the piano to blunder.»</em> - Fito Paez.
            </p>
         </div>
      </div> {% endcomment %}