{% load static %}


<!-- <div class="container max-w-screen-lg">
    <div class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400 text-center">
        <p>
            Date
        </p>
    </div>
    <div class="text-center md:py-8 md:border-b-2 md:border-b-gray-200">
        <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14">
        Title
        </h1>
    </div>
    <div class="md:flex mx-auto">
        <div class="md:w-1/3 p-2 md:flex md:flex-col md:items-center md:divide-y-2 md:divide-gray-200">
            <div class="w-full flex justify-center md:justify-start border-b-2 border-b-gray-200 md:border-b-0">
                <div class="my-6 flex items-center space-x-2">
                    <img
                    src="{% static 'media/exm1.jpg' %}"
                    width={38}
                    height={38}
                    alt="avatar"
                    class="h-10 w-10 rounded-full"
                    />
                    <div class="whitespace-nowrap text-sm font-medium leading-5">
                        <p class="text-gray-900 dark:text-gray-100">
                            Harrinson Arrubla
                        </p>
                        <a class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="https://twitter.com/haarrublar">
                            @ Twitter
                        </a>
                        </p>
                    </div>
                </div>    
            </div>
            <div class="w-full justify-start hidden md:block">
                <div class="my-6">
                    <h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">
                        Tags
                    </h2>
                    <div class="flex flex-wrap text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 uppercase">
                        tags
                    </div>
                </div>
            </div>
        </div>
        <div class="md:w-2/3 px-8">
            <div class="flex justify-center items-center my-6">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia blanditiis provident error at sint delectus! Rem quod ducimus numquam tenetur distinctio nihil natus autem explicabo eligendi aspernatur, obcaecati quisquam commodi.
                    Ullam, harum repellat recusandae autem voluptatum, magni distinctio doloribus ducimus aspernatur vitae qui dolor nisi omnis accusamus tempora vero. Nisi tenetur rem, quaerat ab nam deserunt voluptatibus eaque facilis in.
                    Hic eaque numquam unde. Repudiandae veniam quibusdam voluptates quod ut, mollitia, quae pariatur aspernatur nulla distinctio, soluta ipsam suscipit voluptas. Unde aspernatur quo amet, rerum provident atque ipsam mollitia? Maxime!
                    Saepe sapiente quibusdam quia harum laboriosam sit nulla labore amet? Amet officiis, eaque corrupti, nobis sed delectus earum maxime explicabo sapiente qui corporis cupiditate optio ad iure atque eveniet id.
                    Aperiam qui dolorem rem reprehenderit maxime aspernatur dolore adipisci provident. Eius voluptate expedita quod! Praesentium nostrum provident, impedit voluptates quis exercitationem eaque quae amet id. Porro id iure illum consequuntur!
                    Enim fugit quos illo, inventore necessitatibus nesciunt ipsum praesentium quod harum excepturi. Asperiores dolorum saepe blanditiis soluta libero optio amet quidem praesentium officiis eaque. Eius ad maiores consectetur. Suscipit, vel.
                    Exercitationem nihil tenetur alias accusamus, repellendus doloremque commodi quas nobis corporis expedita facilis ratione facere laboriosam quibusdam obcaecati distinctio fugit assumenda unde hic fuga excepturi aut! Ducimus, id quaerat. Autem?
                    Aliquid maiores nobis tempora facere excepturi obcaecati necessitatibus nesciunt placeat veritatis corrupti id quos ex doloribus ad consectetur blanditiis, magni illo mollitia? Autem eos laboriosam laborum ipsa, saepe inventore itaque?
                    Architecto nobis, facere a dicta exercitationem laboriosam soluta assumenda rem. Voluptatum, explicabo, laboriosam unde debitis commodi quam eos ex, doloribus voluptates beatae labore officia culpa ipsam amet aspernatur eveniet assumenda!
                    Vitae aspernatur et qui, repudiandae non repellat facere beatae necessitatibus soluta doloribus delectus dolore, quae libero debitis ipsum autem laboriosam laudantium, harum excepturi minus quisquam tempora. Sint cumque id debitis.
                    Maiores mollitia earum expedita tenetur minima! Placeat nemo, atque sint odit cum dignissimos temporibus, assumenda autem, iste corporis harum deleniti! Eligendi distinctio magnam natus rerum quidem quasi nobis, facilis sequi.
                    Iste, quos! Earum incidunt harum tempore praesentium! Illo iusto nulla itaque temporibus delectus omnis adipisci blanditiis. Nesciunt consequuntur minus eligendi! Asperiores facere ipsum cum quos praesentium necessitatibus beatae consectetur ratione.
                    Unde repellat nam praesentium totam accusamus. Quae ut odio esse at consequatur saepe assumenda mollitia, numquam nostrum rerum cum nam, fugit, quod ab exercitationem magni consectetur sed deleniti eligendi ducimus.
                    Magnam dolorum molestias nostrum assumenda dolore? Enim odit odio veritatis provident nobis totam expedita mollitia vel, vero similique et, maxime perspiciatis adipisci fuga temporibus nihil ut! Possimus, labore. Dignissimos, in.
                    Aut assumenda nisi provident eos fuga aliquid quidem ullam, omnis quaerat, officiis cum neque perferendis, ipsa dolorum. Distinctio odio doloremque commodi dignissimos, porro temporibus veniam reprehenderit ratione! Quidem, aliquid laborum.
                    Iste quaerat necessitatibus dicta quibusdam? Sequi similique eveniet animi exercitationem eaque dolorum consequatur blanditiis officiis laudantium enim nobis odio sunt nostrum a recusandae, dolorem inventore repellat corrupti aspernatur consequuntur maxime.
                    Nemo necessitatibus magni voluptatem molestiae delectus in repudiandae exercitationem voluptatum impedit reiciendis eum provident, minima adipisci, ab quidem ducimus. Inventore necessitatibus adipisci tenetur id magnam veniam earum a, ipsa accusantium!
                    Sit officiis excepturi error modi? Corrupti, magni animi voluptatem cumque veritatis reprehenderit enim at numquam facere accusamus qui ipsam corporis, velit voluptas, temporibus fugiat dignissimos repellendus unde iure! Consequuntur, sequi.
                    Cum similique quaerat eos natus quos, voluptates nesciunt temporibus quisquam alias blanditiis itaque sit nobis quas ea aliquid, tempore maxime facilis voluptate adipisci sed corrupti ab dolores esse corporis? Est.
                    Dolorum explicabo aliquid quis aspernatur atque omnis possimus molestias, earum totam accusantium magni rerum asperiores itaque sint officia sapiente modi? Ullam fugiat aliquam voluptatum reprehenderit sint nemo voluptatem nihil laboriosam?
                    Repudiandae est voluptate labore quaerat facere temporibus aut enim ipsam at perspiciatis doloremque sequi nihil iste aliquam velit, libero illum ullam a ratione dolores similique iure praesentium. Distinctio, velit perferendis.
                    Numquam, odio corporis eveniet labore a fugit repellat quibusdam doloribus, veniam, saepe similique. Iure sapiente libero natus. Perferendis animi facere eum accusamus corrupti, quam officiis facilis nulla vitae ullam culpa!
                    Assumenda laboriosam accusantium a ullam et suscipit autem aut quo, ex ipsam nisi in rem libero nesciunt amet quae ipsum at? Voluptates praesentium commodi reiciendis ipsa, animi eveniet sed omnis.
                    Ipsam dolorum facere provident est quo ipsum, nostrum eos omnis enim recusandae exercitationem. Dicta tempora excepturi, explicabo, nostrum recusandae facilis quod dolor porro adipisci vitae molestiae dolore aperiam ipsa saepe.
                    Deserunt tenetur quasi cum, dicta unde voluptatum modi dolorem asperiores. Optio assumenda tempora corrupti error ea illum magnam neque vitae, quo est mollitia, tempore ut natus vero. Tempora, atque temporibus.
                    Iste, sed exercitationem nisi nulla perspiciatis similique maiores molestiae quae fuga nihil tempora velit hic. Dolor sunt culpa quia, saepe porro, autem officia ipsam laudantium temporibus exercitationem, in inventore. Culpa.
                    Cupiditate incidunt eveniet veritatis voluptas earum molestias illo, doloremque commodi nobis. Nam voluptate deserunt cum perferendis quo, deleniti error perspiciatis totam suscipit tempore voluptates voluptatum, ipsa ad, delectus ipsum asperiores?
                    Rerum eligendi quia ratione facere officiis aperiam nam unde neque cumque tempora sit voluptatibus dignissimos provident asperiores magnam quisquam voluptatem veritatis dolor, dicta possimus cupiditate! Illum sunt harum vitae cumque?
                    Quisquam pariatur alias aut hic, corporis perspiciatis, fugiat sapiente animi, sequi rerum officia illum eius velit numquam. Quae quia omnis, autem, odit nostrum molestiae laboriosam est sint maxime earum ipsam.
                    Repudiandae velit quae libero! Rem aut dicta ipsa, sint officiis porro facilis quod dolorum blanditiis tenetur in quibusdam! Inventore a sint ratione ad odit tenetur aliquam, voluptate consectetur explicabo totam!
                    Veniam dolorem vel illum amet quisquam debitis voluptatibus perferendis. Qui voluptatem temporibus incidunt adipisci voluptatibus, nihil dolorem, quo aliquid saepe, neque pariatur natus officiis molestiae? Cupiditate quos porro iste expedita?
                    Et totam nostrum eveniet quia labore ad, autem possimus natus mollitia consequatur, voluptatum cum commodi repudiandae aliquam tenetur aliquid facere amet doloribus ratione. Velit ad totam saepe quae facilis veritatis?
                    Atque corporis minus ratione fugit voluptatibus earum itaque aperiam dolore eius voluptatem voluptas harum molestias ipsa reiciendis in, dignissimos sit, voluptatum, animi commodi. Deserunt quibusdam, commodi amet sunt doloremque repellendus.
                    Tempora at quibusdam omnis iusto nihil nemo perferendis. Nam, quod architecto tenetur natus iusto et aliquid cum molestiae 
                </p>
            </div>
        </div>
    </div>
</div> -->

<div class="text-2xl w-1/3">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus exercitationem tempore, repellendus, laudantium commodi recusandae voluptatem ratione nisi sint perferendis quasi quas sit officiis debitis repellat voluptate suscipit sequi eaque.
    Ullam aut, pariatur esse dolore quia nihil autem consectetur unde aperiam amet hic? Commodi eos necessitatibus distinctio ipsam repudiandae? Asperiores quis error possimus dicta fuga expedita, maxime repellendus vero ex?
    Asperiores nulla ducimus voluptatem soluta illum velit culpa reprehenderit sint tempora iure quidem, eum possimus, quas tenetur. Eligendi vel sequi tempora repellat minus numquam adipisci libero! Deleniti obcaecati cupiditate sequi.
    Culpa optio labore, accusamus doloremque nulla alias quos error tempore necessitatibus quasi, id qui reiciendis. Explicabo porro perferendis ab soluta reiciendis vel, sapiente molestias, totam dolore vero deleniti corporis pariatur!
    Aliquid numquam ex repellat cumque aspernatur quis quaerat quia deleniti ab natus corrupti ducimus maiores repudiandae repellendus explicabo, amet aliquam unde nisi. Laborum eveniet temporibus voluptatibus? Aliquam sunt debitis expedita!
    Beatae laboriosam autem nihil quam aliquid animi sunt enim! Doloribus odit veritatis aspernatur voluptatem quia quam sapiente 
</div>

<div class="long-text-gsp w-full" style="overflow: hidden;">
    <div class="wrapper text">
        <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
    </div>
</div>

<div class="text-2xl w-1/3">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus exercitationem tempore, repellendus, laudantium commodi recusandae voluptatem ratione nisi sint perferendis quasi quas sit officiis debitis repellat voluptate suscipit sequi eaque.
    Ullam aut, pariatur esse dolore quia nihil autem consectetur unde aperiam amet hic? Commodi eos necessitatibus distinctio ipsam repudiandae? Asperiores quis error possimus dicta fuga expedita, maxime repellendus vero ex?
    Asperiores nulla ducimus voluptatem soluta illum velit culpa reprehenderit sint tempora iure quidem, eum possimus, quas tenetur. Eligendi vel sequi tempora repellat minus numquam adipisci libero! Deleniti obcaecati cupiditate sequi.
    Culpa optio labore, accusamus doloremque nulla alias quos error tempore necessitatibus quasi, id qui reiciendis. Explicabo porro perferendis ab soluta reiciendis vel, sapiente molestias, totam dolore vero deleniti corporis pariatur!
    Aliquid numquam ex repellat cumque aspernatur quis quaerat quia deleniti ab natus corrupti ducimus maiores repudiandae repellendus explicabo, amet aliquam unde nisi. Laborum eveniet temporibus voluptatibus? Aliquam sunt debitis expedita!
    Beatae laboriosam autem nihil quam aliquid animi sunt enim! Doloribus odit veritatis aspernatur voluptatem quia quam sapiente 
</div>

<div style="overflow: hidden;">
    <div class="gallery-gsp">
        <section class="wrapper">
          <ul>
            <li><img src="https://source.unsplash.com/random/800x600?sig=1" width="800" height="600"></li>
            <li><img src="https://source.unsplash.com/random/800x600?sig=2" width="800" height="600"></li>
            <li><img src="https://source.unsplash.com/random/800x600?sig=3" width="800" height="600"></li>
          </ul>
        </section>
        <section class="wrapper">
          <ul>
            <li><img src="https://source.unsplash.com/random/800x600?sig=4" width="800" height="600"></li>
            <li><img src="https://source.unsplash.com/random/800x600?sig=5" width="800" height="600"></li>
            <li><img src="https://source.unsplash.com/random/800x600?sig=6" width="800" height="600"></li>
          </ul>
        </section>
        <section class="wrapper">
          <ul>
            <li><img src="https://source.unsplash.com/random/800x600?sig=7" width="800" height="600"></li>
            <li><img src="https://source.unsplash.com/random/800x600?sig=8" width="800" height="600"></li>
            <li><img src="https://source.unsplash.com/random/800x600?sig=9" width="800" height="600"></li>
          </ul>
        </section>
    </div>
</div>


<div class="text-2xl w-1/3">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus exercitationem tempore, repellendus, laudantium commodi recusandae voluptatem ratione nisi sint perferendis quasi quas sit officiis debitis repellat voluptate suscipit sequi eaque.
    Ullam aut, pariatur esse dolore quia nihil autem consectetur unde aperiam amet hic? Commodi eos necessitatibus distinctio ipsam repudiandae? Asperiores quis error possimus dicta fuga expedita, maxime repellendus vero ex?
    Asperiores nulla ducimus voluptatem soluta illum velit culpa reprehenderit sint tempora iure quidem, eum possimus, quas tenetur. Eligendi vel sequi tempora repellat minus numquam adipisci libero! Deleniti obcaecati cupiditate sequi.
    Culpa optio labore, accusamus doloremque nulla alias quos error tempore necessitatibus quasi, id qui reiciendis. Explicabo porro perferendis ab soluta reiciendis vel, sapiente molestias, totam dolore vero deleniti corporis pariatur!
    Aliquid numquam ex repellat cumque aspernatur quis quaerat quia deleniti ab natus corrupti ducimus maiores repudiandae repellendus explicabo, amet aliquam unde nisi. Laborum eveniet temporibus voluptatibus? Aliquam sunt debitis expedita!
    Beatae laboriosam autem nihil quam aliquid animi sunt enim! Doloribus odit veritatis aspernatur voluptatem quia quam sapiente 
</div>



<div class="text-reveal bg-slate-300">
    <section>
      <p>
        <span contenteditable=true>Responsive Animated Text Reveals with CSS Scroll-Driven Animations.</span>
      </p>
    </section>
</div>



  <div class="text-2xl w-1/3">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus exercitationem tempore, repellendus, laudantium commodi recusandae voluptatem ratione nisi sint perferendis quasi quas sit officiis debitis repellat voluptate suscipit sequi eaque.
    Ullam aut, pariatur esse dolore quia nihil autem consectetur unde aperiam amet hic? Commodi eos necessitatibus distinctio ipsam repudiandae? Asperiores quis error possimus dicta fuga expedita, maxime repellendus vero ex?
    Asperiores nulla ducimus voluptatem soluta illum velit culpa reprehenderit sint tempora iure quidem, eum possimus, quas tenetur. Eligendi vel sequi tempora repellat minus numquam adipisci libero! Deleniti obcaecati cupiditate sequi.
    Culpa optio labore, accusamus doloremque nulla alias quos error tempore necessitatibus quasi, id qui reiciendis. Explicabo porro perferendis ab soluta reiciendis vel, sapiente molestias, totam dolore vero deleniti corporis pariatur!
    Aliquid numquam ex repellat cumque aspernatur quis quaerat quia deleniti ab natus corrupti ducimus maiores repudiandae repellendus explicabo, amet aliquam unde nisi. Laborum eveniet temporibus voluptatibus? Aliquam sunt debitis expedita!
    Beatae laboriosam autem nihil quam aliquid animi sunt enim! Doloribus odit veritatis aspernatur voluptatem quia quam sapiente 
</div>



<script src="{% static 'js/gsap/longText.js' %}"></script>
<script src="{% static 'js/gsap/gallery.js' %}"></script>
<script src="{% static 'js/gsap/textReveal.js' %}"></script>