{% load static %}


<div class="content-aux">
    <div class="text-center py-8 border-b-2 border-b-gray-200">
        <div class="text-effect">
            <h1 class="text-3xl font-extrabold text-gray-900 dark:text-gray-100 sm:text-4xl md:text-5xl">
                <span class="box"></span>
                <span class="hi">Hi, I'm</span>
                <span class="text" contenteditable="true">
                    Harrinson Arrubla
                    Mathematician 
                    Applied Statistician & Data Scientist
                </span>
                <span class="cursor">_</span>
            </h1>
        </div>
    </div>
    <div class="my-4">
        <p class="mb-3">
            Applied statistician and data scientist student at University of Texas Rio Grande Valley (STEM) with strong mathematical background motivated about machine learning strategies with solid statistical learning techniques. Interested in Artificial Intelligence algorithms for big datasets manipulation in Public Health, Marketing, and Business. 
        </p>
        <p class="mb-3">
            I consider myself a committed and dynamic professional who constantly is suited to changes and work environments, maximizing team skills. Part of my training focuses on mathematical and statistical modeling for data analysis interpretation by using descriptive and predictive statistical analysis together with linear methods of regression and classification, unsupervised (PCA, clustering), and supervised learning.
        </p>
        <p class="mb-3">
            My skills include leadership, strategist, academic planner, analytical thinking, and creative mathematical and statistical problem solving using computer programming in some software. Regarding the programming skills, I have used windows or/and ubuntu as operative systems for coding in Python (Machine Learning, AI, TensorFlow, PyTorch), R, Matlab, Microsoft Office Suite (Excel, Word, Onenote, PowerPoint) over different frameworks and text editors.
        </p>
    </div>
    
   

</div>

<script src="{% static 'js/gsap/textEffect.js' %}"></script>