@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/* -----------------------------------------------*/
/* LONG TEXT GSAP ANIMATION */
:root {
   --full-vw: 98vw; /* Create a CSS variable to store the full viewport width */
 }

 .w-screen {
   width: var(--full-vw); /* Use the CSS variable to set the width */
   position: relative; /* Add position relative to enable positioning for child elements */
   left: 50%; /* Move the element horizontally by 50% of its own width */
   transform: translateX(-50%); /* Shift the element back by 50% of its own width */
 }

 .horizontal-effect-gsp {
   overflow: hidden;
 }

 .horizontal-effect-gsp .wrapper {
   display: flex;
 }

 .horizontal-effect-gsp .horizontal-content {
   font-size: clamp(6rem, 10vw, 12rem);
   line-height: 1;
   font-weight: 900;
 }

/* In case there are images */
.horizontal-effect-gsp img {
   display: block;
   max-width: 100%;
   height: auto;
   
 }
 /*--------------*/

 /* IN case there are list*/
 .horizontal-effect-gsp ul {
   display: flex;
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 
 .horizontal-effect-gsp li {
   flex: 0 0 auto;
   margin-right: 1rem; /* Adjust as needed */
 }
/*------------------------*/

/* -----------------------------------------------*/
/* Specific styles for elements within .gallery-gsp */

.scroll-parent {
   height: 500px;
   position: relative;
   background-color: #f0f0f0;
 }
 
 .scroll-children {
   height: 20px;
   width: 100%;
   background-color: #333;
   position: absolute;
 }

/*_____________________________________________ */

.gallery-gsp {
   display: flex;
   flex-direction: row-reverse;
   position: sticky;
   place-items: center;
 }
 
 .gallery-gsp ul {
   display: flex;
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 
 .gallery-gsp li {
   flex: 0 0 auto;
   margin-right: 1rem; /* Adjust as needed */
 }
 
 .gallery-gsp img {
   display: block;
   max-width: 100%;
   height: auto;
 }
 
 .gallery-gsp .wrapper {
   flex: 0 0 auto;
   width: 100vw; /* Adjust as needed */
   scroll-snap-align: start;
 }
/*_____________________________________________*/




/* -----------------------------------------------*/
/* text reveal */
.text-effect h1 {
   position: relative;
   font-size: 5vw;
   overflow-x: hidden;
   overflow-y: hidden;
 }
 .text-effect .box {
   position: absolute;
   bottom: 0;
   display: inline-block;
   height: 1vw;
   z-index: -1;
 }
 .text-effect .hi {
   display: inline-block;
   background: mediumspringgreen;
   padding: 0 0.5rem; /* Add padding to separate text from edges */
 }
 


/*________________________________________________*/











/* Custom dark mode styles */
.dark {
   background-color: #1a202c;
   color: #d6d6d6;
 }

/* Custom dark mode styles */
.dark #dark-mode-toggle > i {
   color: #fff; /* Change the icon color in dark mode */
}

#dark-mode-toggle > i {
   color: #333; /* Default icon color in light mode */
}  

#dark-mode-toggle i {
   color: inherit; /* Inherit the text color from the parent button */
}


#dark-mode-toggle:hover i {
   color: inherit; /* Ensure the icon inherits the hover text color */
 }

@media (max-width: 1023px) {
   #dark-mode-toggle {
       margin-right: auto !important; /* Push the icon to the right */
   }
}

.nav-link.active {
   color: inherit;
}

.collapse.show {
   visibility: visible;
 }


.accordion-button, .accordion-button:not(.collapsed), .accordion-item {
   background-color: inherit;
}
 

.dark .accordion-button:after {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.dark .accordion-button:not(.collapsed):after{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


  



.content {
    margin-left: 5%;
    margin-right: 5%;
}

.container-content {
   margin-left: 5%;
   margin-right: 5%;
}


@media (min-width: 768px) {
   /* Medium screens and larger (tablets and computers) */
   .container-content {
       margin-left: 15%;
       margin-right: 15%;
   }
}

.container-navbar {
   margin-left: 3%;
   margin-right: 3%;
}

@media (min-width: 768px) {
   /* Medium screens and larger (tablets and computers) */
   .container-navbar {
       margin-left: 8%;
       margin-right: 8%;
   }
}

.footer-modification {
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-top: 1.5px solid black;
    margin-top: 4rem;
 }
 /* -------------------------------------------------------*/
 
 
 /* Auxiliary navbar style from the aux_navbar.html page.  */
 /* -------------------------------------------------------*/
 .navbar-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
 }
 .navbar-brand {
    color: black;
    font-size: 28px;
 }
 .colbutton {
    display: flex;
    flex-direction: row;
    justify-content: right;
 }
 .colicon {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 /* -------------------------------------------------------*/
 
 
 
 /* Resume content style from the resumen_content.html page.  */

 ul.no-bullets {
    list-style-type: none;
    margin-left: 2rem;
    padding: 0;
 }
 /* -------------------------------------------------------*/
 
 
 
 
 /* Main navbar style attached in the hero.html from the main_navbar.html page.  */
 /* -------------------------------------------------------*/
 .navbar-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
 }
 .navbar-brand {
    color: black;
    font-size: 28px;
 }
 /* -------------------------------------------------------*/
 
 


