@tailwind base;
@tailwind components;
@tailwind utilities;



.content {
    margin: 5%;
}

.container-content {
   margin: 5%;
}

@media (min-width: 768px) {
   /* Medium screens and larger (tablets and computers) */
   .container-content {
       margin: 15%;
   }
}

.footer-modification {
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-top: 1.5px solid black;
    margin-top: 4rem;
 }
 /* -------------------------------------------------------*/
 
 
 /* Auxiliary navbar style from the aux_navbar.html page.  */
 /* -------------------------------------------------------*/
 .navbar-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
 }
 .navbar-brand {
    color: black;
    font-size: 28px;
 }
 .colbutton {
    display: flex;
    flex-direction: row;
    justify-content: right;
 }
 .colicon {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 /* -------------------------------------------------------*/
 
 
 
 /* Resume content style from the resumen_content.html page.  */
 /* -------------------------------------------------------*/
 .accordion-button.collapsed {
    background: #FFF;
    color: black;
 }
 .accordion-button:not(.collapsed) {
    background-color: black;
    color: white;
 }
 
 .accordion-body {
    max-width: 90%;
 }
 
 @media (max-width: 768px) {
    .accordion-body {
      max-width: 100%;
      padding-right:0px;
    }
 }
 
 
 .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
 }
 ul.no-bullets {
    list-style-type: none;
    margin-left: 2rem;
    padding: 0;
 }
 /* -------------------------------------------------------*/
 
 
 
 
 /* Main navbar style attached in the hero.html from the main_navbar.html page.  */
 /* -------------------------------------------------------*/
 .navbar-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
 }
 .navbar-brand {
    color: black;
    font-size: 28px;
 }
 /* -------------------------------------------------------*/
 
 


