{% load static %}

<div class="my-6">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
        Work experience
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-xl text-gray-900 dark:text-gray-100 font-extrabold leading-9 
      tracking-tight" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
        Academic Experience
      </button>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content my-4">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      {% include 'home/timeline/work_experience_timelines.html' %}
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      {% include 'home/timeline/academic_experience_timelines.html' %}
    </div>
  </div>
</div>