<!-- 
   Home Page.
   This page represents the home section of the website. It includes an auxiliary navigation bar,
   a contact form, and the main content about Harrinson, providing general personal and academic description.
   There is a Bootstrap accordion button style for showing and clicking the personal details and research summary.
   The main navbar is replaced by the auxiliary navbar because the main navbar is included in the Hero section.
-->

<!-- Extends Main Template -->
{% extends 'main.html' %}


<!-- Main Content Block -->
{% block content %}
   {% include 'about/author_about.html' %}
{% endblock %}
