{% extends "blog/main.html" %} 
{% load static %}

<!-- {% block title %}{{post.title}}{% endblock %}  -->
{% block content %}

    <div class="container">
        <div class="row g-0">
        <div class="col-md-5">
            <img src="{% static 'media/exm1.jpg' %}" class="img-fluid rounded d-block mx-auto" alt="..." style="height: 280px">
        </div>
        <div class="col-md-7">
            <div class="card-body">
            <h2 class="card-title">Card title</h2>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        </div>
    </div>


    <h1>{{post.title}}</h1>
    <a>Published {{post.created}} by {{post.author}}</a>
    <p>
        {{ post.body|linebreaks|safe }}
    </p> 
{% endblock %}
