{% extends "blog/main.html" %} 
{% load static %}

<!-- {% block title %}{{post.title}}{% endblock %}  -->
{% block content %}

<div>
    <div class="container-content">

        <div class="space-y-2 pb-8 pt-6 md:space-y-5">
            <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
                {{post.title}}
            </h1>
        </div>
        <div class="prose mb-3">
            <h3>
                <a href="#"> 
                    Published {{post.created|date:"F j, Y"}} - {{post.author}}
                </a>
            </h3>
        </div>
        <hr/>
        <div class="prose my-4">
            <p>
                {{ post.body|linebreaks|safe }}
            </p> 
        </div>
    </div>
</div>

{% endblock %}
