<!--
This HTML code creates an accordion-style resume section with various collapsible panels. It starts with a title, followed by different sections such as "Overview," "Education," "Seminars & Research Labs," "Academic Participation," "Publication," "Projects," "Experience," "Volunteer," "Languages," "Skills," and "Graduate Courses." Each section contains relevant content, including academic background, research experience, publications, projects, work experience, volunteer work, language proficiency, and skills. The accordion design allows users to easily navigate through different sections without overwhelming the page, making it an organized and visually appealing way to showcase a detailed resume on a webpage.
-->

<div class="container text-start" style="margin-top: 3rem;">
   <div style="margin-top: 2rem;"></div>
   <h2 class="text-center" style="font-size: 32px;">Resume</h2>
   <div style="margin-top: 3rem;"></div>
   <div class="accordion bg-light" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="font-size:24px;">
            Overview
            </button>
         </h2>
         <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div style="margin-top: 1rem;"></div>
            <div class="accordion-body text-start" style="font-size: 18px;">
               Mathematician graduated from Universidad Nacional de Colombia, and applied statistician and data scientist student at the University of Texas Rio Grande Valley (STEM) with strong mathematical background motivated by machine learning strategies with solid statistical learning techniques. Interested in Artificial Intelligence algorithms for big datasets manipulation in Public Health, Marketing, and Business.
               <br><br>
               I consider myself a committed and dynamic professional who constantly is suited to changes and work environments, maximizing team skills. My training focuses on mathematical and statistical modeling for data analysis interpretation by using descriptive and predictive statistical analysis together with linear methods of regression and classification, unsupervised, and supervised learning.
               <br><br>
               My skills include leadership, strategist, academic planning, analytical thinking, and creative mathematical and statistical problem solving using computer programming in some software. Regarding programming skills, I have used windows or/and ubuntu as operative systems for coding in Python (Machine Learning, AI, TensorFlow, PyTorch), R, Matlab, Microsoft Office Suite (Excel, Word, Onenote, PowerPoint), MongoDB, and SQL. Additionally, I know how to use Python (Django) to build back-end machine learning models and HTML to integrate predictive features and automation into the front-end user interface of websites.
            </div>
            <div style="margin-top: 1rem;"></div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="font-size:24px;">
            Education
            </button>
         </h2>
         <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     2013
                  </div>
                  <div slot="right">
                     High School. San Pio X High School. Manizales, Caldas, Class 2013.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2019
                  </div>
                  <div slot="right">
                     BS. Mathematics, National University of Colombia.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2021 - present
                  </div>
                  <div slot="right">
                     MSc. Applied Statistics and Data Science - Candidate, University of Texas Rio Grande Valley.
                  </div>
               </two-column-layout>
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="font-size:24px;">
            Seminars & Research Labs
            </button>
         </h2>
         <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     2017
                  </div>
                  <div slot="right">
                     Research Seminar of Statistics, National University of Colombia, Manizales.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2017 - 2021
                  </div>
                  <div slot="right">
                     Research Seedbed "Techniques for Representation of Algebraic Structures", National University of Colombia.
                  </div>
               </two-column-layout>
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="font-size:24px;">
            Academic Participation
            </button>
         </h2>
         <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     2015
                  </div>
                  <div slot="right">
                     Participant - XX National Congress of Mathematics 2015. Manizales, Caldas, Colombia.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2016
                  </div>
                  <div slot="right">
                     Participant - Second Training Courses Focus on Probabilty and Stochastic Process. Bogotá D.C. Colombia.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2017
                  </div>
                  <div slot="right">
                     Speaker - A Briefly Introduction to Soliton Theory. XXI National Congress of Mathematics 2017. Bogotá DC, Colombia.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2017
                  </div>
                  <div slot="right">
                     Participant - Alterman Summer School on Algebraic geometry & Kälher Calculus. The University of Architecture, Civil Engineering and Geodesy. Sofia, Bulgaria.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2017
                  </div>
                  <div slot="right">
                     Participant - Alterman Summer School on Algebraic geometry & Kälher Calculus. The University of Architecture, Civil Engineering and Geodesy. Sofia, Bulgaria.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2018
                  </div>
                  <div slot="right">
                     Speaker - Characterization of Artin Algebras via Nakayama Algebras. XX Local Encounter of Research Seedbeds, Caldas. Colombia.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2018
                  </div>
                  <div slot="right">
                     Speaker -Finalist - XXII Universitary Mathematical Olympiad of Colombia. Antonio Nariño University. Bogotá DC, Colombia.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2018
                  </div>
                  <div slot="right">
                     Speaker - Characterization of Artin algebras using Nakayama Algebras. CIMPA: Geometric and Homological Methods in the Representation Theory of Associative Algebras and Their Applications. University of Antioquia. Medellín, Colombia.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2018
                  </div>
                  <div slot="right">
                     Participant - Third International Colloquium on Representations of Algebras and Its Applications: Alexander Zavadskij. Universidad of Antioquia. Medellìn, Colombia.
                  </div>
               </two-column-layout>
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" style="font-size:24px;">
            Publication
            </button>
         </h2>
         <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     2018
                  </div>
                  <div slot="right">
                     Characterization of Artin Algebras Via Nakayama Algebras. Memorias del VIII Encuentro Regional de Semilleros de Investigación - "Estrategia de Investigación Formativa y Apropiación Social del Conocimiento". Edición Electrónica. ISBN:978-958-722-338-5 , http://rredsi.co/?page_id=1024. Pereira, Risaralda, Colombia.
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2023
                  </div>
                  <div slot="right">
                     Probabilistic solutions of fractional differential and partial differential equations and their Monte Carlo simulations Tamer Oraby, Erwin Suazo, Harrinson Arrubla. Chaos, Solitons & Fractals, Vol. 166, 2023.
                     <ul class="no-bullets">
                        <li style="height: 5px"></li>
                        <li><strong>Description:</strong></li>
                        <li>Developed novel Monte Carlo integration techniques to numerically solve fractional differential equations, enabling simulation of solutions for fractional ordinary and partial differential equations. Derived fundamental solutions for fractional PDEs with Caputo time derivatives and Riesz-Feller space derivatives. Established an alternative approach representing fractional ODE solutions as expected values of random time processes. Applied methods to families of fractional PDEs with variable coefficients, identifying explicit solutions and connecting Lie symmetries to fractional PDEs.</li>
                        <li><a href="https://www.sciencedirect.com/science/article/abs/pii/S0960077922010803" class="custom-btn float-end">View more ➨</a></li>
                        <li style="height: 12px"></li>
                     </ul>
                  </div>
               </two-column-layout>
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix" style="font-size:24px;">
            Projects
            </button>
         </h2>
         <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     2019
                  </div>
                  <div slot="right">
                     Matrix Version of the Differentiation Algorithm with Respect to a Suitable Pair.
                     <ul class="no-bullets">
                        <li style="height: 5px"></li>
                        <li><strong>Description:</strong></li>
                        <li>Representations of partially ordered sets (posets) over an arbitrary field were introduced by Nazarova and Roiter, including a differentiation algorithm to classify poset representations of width less than or equal to 3. These representations are presented through matrices, transforming the poset representation problem into a matrix problem. This work explains in detail the differentiation algorithm with respect to a convenient pair in its matrix version, and also presents interesting examples.</li>
                        <li style="height: 15px"></li>
                        <li><strong>Skills:</strong></li>
                        <li style="margin-bottom: 5px">Representation Theory | Posets</li> 
                        <li style="margin-bottom: 5px"><a href="https://www.sciencedirect.com/science/article/abs/pii/S0960077922010803" class="custom-btn float-end">View more ➨</a></li>
                     </ul>
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2021
                  </div>
                  <div slot="right">
                     Statistical Learning for Customer Response Modeling in Real-World Marketing Big Dataset.
                     <ul class="no-bullets">
                        <li style="height: 5px"></li>
                        <li><strong>Description:</strong></li>
                        <li>Developed models using logistic regression, random forest, and support vector machines to predict high-probability customers for future direct mail marketing campaigns in real-world big data. Trained the models on historical customer response data to identify prospective customers likely to engage positively with future campaigns.</li>
                        <li style="height: 15px"></li>
                        <li><strong>Skills:</strong></li>
                        <li>Statistical Learning | Python (Programming Language) | R (Programming Language)</li>
                     </ul>
                  </div>
               </two-column-layout>
               <two-column-layout>
                  <div slot="left">
                     2021
                  </div>
                  <div slot="right">
                     Regression and Classification of BIO data on a real-world dataset of resting blood pressure measurements collected longitudinally.
                     <ul class="no-bullets">
                        <li style="height: 5px"></li>
                        <li><strong>Description:</strong></li>
                        <li>Utilized SAS software to perform statistical analysis on a real-world dataset of resting blood pressure measurements collected longitudinally. Applied linear regression models to assess the relationship between blood pressure and other variables over time. Additionally, implemented logistic regression techniques to predict the likelihood of hypertension based on input variables. All research was made on SAS programming.</li>
                        <li style="height: 15px"></li>
                        <li><strong>Skills:</strong></li>
                        <li>Statistical Methods | SAS (Programming Language) | R (Programming Language)</li>
                     </ul>
                  </div>
               </two-column-layout>  
               <two-column-layout>
                  <div slot="left">
                     2022
                  </div>
                  <div slot="right">
                     Fine-Tuning Transformer Networks for Sentiment Analysis with Natural Language Processing (NLP).
                     <ul class="no-bullets">
                        <li style="height: 5px"></li>
                        <li><strong>Description:</strong></li>
                        <li>Utilized SAS software to perform statistical analysis on a real-world dataset of resting blood pressure measurements collected longitudinally. Applied linear regression models to assess the relationship between blood pressure and other variables over time. Additionally, implemented logistic regression techniques to predict the likelihood of hypertension based on input variables. All research was made on SAS programming.</li>
                        <li style="height: 15px"></li>
                        <li><strong>Skills:</strong></li>
                        <li>Statistical Methods | SAS (Programming Language) | R (Programming Language)</li>
                     </ul>
                  </div>
               </two-column-layout>     
               <two-column-layout>
                  <div slot="left">
                     2022
                  </div>
                  <div slot="right">
                     Optimizing Predictive Accuracy for Fatal Heart Failure via Machine Learning.
                     <ul class="no-bullets">
                        <li style="height: 5px"></li>
                        <li><strong>Description:</strong></li>
                        <li>Applied penalized regression (lasso and elastic net method), linear regression, and SVM models to predict fatal heart failure using medical records. Tuned models using techniques like lasso regularization and mathematical kernels to optimize predictive accuracy. The lasso model achieved the highest accuracy, demonstrating the capability of sparse linear models for this task. The analysis identified key predictive features - serum creatinine, age, and ejection fraction.</li>
                        <li style="height: 15px"></li>
                        <li><strong>Skills:</strong></li>
                        <li>Python (Programming Language) | R (Programming Language)</li>
                     </ul>
                  </div>
               </two-column-layout>               
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven" style="font-size:24px;">
            Experience
            </button>
         </h2>
         <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     2015 - present
                  </div>
                  <div slot="right">
                     Tutor.
                  </div>
               </two-column-layout>   
               <two-column-layout>
                  <div slot="left">
                     2017 - 2018
                  </div>
                  <div slot="right">
                     Delegate for Departamental Mathematics Olympiad 2018, National University of Colombia, Manizales.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     2017 - 2019
                  </div>
                  <div slot="right">
                     Researcher Delegate to Management. Research Seedbed "Techniques for Representation of Algebraic Structures", National University of Colombia, Manizales.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     2020
                  </div>
                  <div slot="right">
                     Lecturer. Universidad de Caldas. Manizales, Caldas, Colombia.
                     <ul class="no-bullets">
                        <li style="height: 5px"></li>
                        <li><strong>Courses:</strong></li>
                        <li>Calcullus II.</li>
                        <li>Fundamentals of Mathematics.</li>
                        <li>Statistics</li>
                     </ul>
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     2021
                  </div>
                  <div slot="right">
                     Graduate Teaching Assistant (GTA). Applied Statistics and Data Science & Mathematics UTRGV. McAllen, Texas.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     2021
                  </div>
                  <div slot="right">
                     Vice President. American Statistical Association (ASA) at UTRGV. McAllen, Texas.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     2022
                  </div>
                  <div slot="right">
                     Research Assistant (RA) for The National Science Foundation (NSF) Research Experience for Undergraduate Students (REU) Program on Applied Mathematics and Computational and Data Science. University of Texas Rio Grande Valley. McAllen, Texas.
                  </div>
               </two-column-layout> 
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight" style="font-size:24px;">
            Volunteer
            </button>
         </h2>
         <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     2013 - 2017
                  </div>
                  <div slot="right">
                     Youth Advisor, Casa Sobre La Roca, Manizales, Colombia.
                  </div>
               </two-column-layout> 
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine" style="font-size:24px;">
            Languages
            </button>
         </h2>
         <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     Native
                  </div>
                  <div slot="right">
                     Spanish.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     Professional
                  </div>
                  <div slot="right">
                     English.
                  </div>
               </two-column-layout> 
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen" style="font-size:24px;">
            Skills
            </button>
         </h2>
         <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     Languages
                  </div>
                  <div slot="right">
                     LATEX, Python, C++, Matlab, HTML.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     Statistics
                  </div>
                  <div slot="right">
                     R, SAS.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     Frameworks
                  </div>
                  <div slot="right">
                     PyTorch, Keras, Tensorflow, Django, React.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     Database
                  </div>
                  <div slot="right">
                     MySQL, MongoDB.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     Microsoft
                  </div>
                  <div slot="right">
                     Microsoft Word, Microsoft Excel, Microsoft PowerPoint, Microsoft OneNote, Teams.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     UX/UI
                  </div>
                  <div slot="right">
                     Atomic Design.
                  </div>
               </two-column-layout> 
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="panelsStayOpen-headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false" aria-controls="panelsStayOpen-collapseEleven" style="font-size:24px;">
            Graduate Courses
            </button>
         </h2>
         <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEleven">
            <div class="accordion-body">
               <div style="margin-top: 1rem;"></div>
               <two-column-layout>
                  <div slot="left">
                     ML & DL
                  </div>
                  <div slot="right">
                     Statistical Machine Learning, Data Mining and Warehousing.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     Algorithm
                  </div>
                  <div slot="right">
                     Foundation of Algorithm and Data Structure, Foundation of Software and Programming System.
                  </div>
               </two-column-layout> 
               <two-column-layout>
                  <div slot="left">
                     Math & Stat
                  </div>
                  <div slot="right">
                     Linear Algebra, Probability & Statistics, Calculus, Mathematical Statistics, Statistical Methods, Analysis, Bio-statistics, Advanced Sampling, Mathematics Modelling, Statistical Learning.
                  </div>
               </two-column-layout>
               <div style="margin-top: 1rem;"></div>
            </div>
         </div>
      </div>
   </div>
</div>
<div style="margin-top: 4rem;"></div>