{% load static %}


<div class="opacity-100">

  <div class="accordion accordion-flush prose" id="accordionWorkExp">
    <div class="accordion-item" style="margin: 0px !important;">
      <h2 class="accordion-button collapsed text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100" type="button" data-bs-toggle="collapse" data-bs-target="#flush-academicParticipation" aria-expanded="false" aria-controls="flush-academicParticipation" style="margin: 0px !important;">
        Academic Participation
      </h2>
      <div id="flush-academicParticipation" class="accordion-collapse collapse" data-bs-parent="#accordionWorkExp">
        <div class="accordion-body">
          <ol class="relative border-l border-gray-200 dark:border-gray-700" style="list-style-type: none;">
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open-reader fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2">
                Participant
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white">2018</span>
              </p>
              <p class="mb-4 font-normal text-gray-500 dark:text-gray-400 ml-2">
                Third International Colloquium on Representations of Algebras and Its Applications: Alexander Zavadskij
              </p>
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open-reader fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2">
                Speaker
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2018</span>
              </p>
              <p class="mb-4 font-normal text-gray-500 dark:text-gray-400 ml-2">
                Characterization of Artin algebras using Nakayama Algebras. CIMPA: Geometric and Homological Methods in the Representation Theory of Associative Algebras and Their Applications
              </p>
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open-reader fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2">
                Finalist
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2018</span>
              </p>
              <p class="mb-4 font-normal text-gray-500 dark:text-gray-400 ml-2">
                XXII College Mathematical Olympiad of Colombia
              </p>      
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open-reader fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2">
                Participant 
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2017</span>
              </p>
              <p class="mb-4 font-normal text-gray-500 dark:text-gray-400 ml-2">
                Alterman Summer School on Algebraic geometry & Kälher Calculus. The University of Architecture, Civil Engineering and Geodesy. Sofia, Bulgaria
              </p>         
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open-reader fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2">
                Participant
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2017</span>
              </p>
              <p class="mb-4 font-normal text-gray-500 dark:text-gray-400 ml-2">
                IV International Encounter in the field of Exact and Natural Science Education
              </p>
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open-reader fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2">
                Poster
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2017</span>
              </p>
              <p class="mb-4 font-normal text-gray-500 dark:text-gray-400 ml-2">
                A Briefly Introduction to Soliton Theory. XXI National Congress of Mathematics
              </p>
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open-reader fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2">
                Participant
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2016</span>
              </p>
              <p class="mb-4 font-normal text-gray-500 dark:text-gray-400 ml-2">
                Second Training Courses Focus on Probability and Stochastic Process
              </p>
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open-reader fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2">
                Participant
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2015</span>
              </p>
              <p class="mb-4 font-normal text-gray-500 dark:text-gray-400 ml-2">
                XX National Congress of Mathematics
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-button collapsed text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100" type="button" data-bs-toggle="collapse" data-bs-target="#flush-projects" aria-expanded="false" aria-controls="flush-projects" style="margin: 0px !important;">
        Projects
      </h2>
      <div id="flush-projects" class="accordion-collapse collapse" data-bs-parent="#accordionWorkExp">
        <div class="accordion-body">
          <ol class="relative border-l border-gray-200 dark:border-gray-700" style="list-style-type: none;">
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-thumbtack fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-normal text-gray-900 dark:text-white ml-2">
                Optimizing Predictive Accuracy for Fatal Heart Failure via Machine Learning
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white">2022</span>
              </p>
              <p class="block mt-4 mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> Skills:</span> <span class="text-gray-900 dark:text-white" style="font-style: italic;"> Python, R, data modeling, analytics</span>
              </p>  
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-thumbtack fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-normal text-gray-900 dark:text-white ml-2">
                Fine-Tuning Transformer Networks for Sentiment Analysis with Natural Language Processing (NLP) over a Game Review data-set
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2022</span>
              </p>
              <p class="block mt-4 mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> Skills:</span> <span class="text-gray-900 dark:text-white" style="font-style: italic;"> Python, data modeling, machine learning, NLP</span>
              </p>  
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-thumbtack fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-normal text-gray-900 dark:text-white ml-2">
                Statistical Learning for Customer Response Modeling in Real-World Marketing Big data-set
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2021</span>
              </p>  
              <p class="block mt-4 mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> Skills:</span> <span class="text-gray-900 dark:text-white" style="font-style: italic;"> Python, R, data modeling</span>
              </p>  
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-thumbtack fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-normal text-gray-900 dark:text-white ml-2">
                Regression and Classification of BIO data on a real-world dataset of resting blood pressure measurements collected longitudinally
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2021</span>
              </p>    
              <p class="block mt-4 mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> Skills:</span> <span class="text-gray-900 dark:text-white" style="font-style: italic;"> SAS, R, data modeling</span>
              </p>   
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-thumbtack fa-sm dark:text-white"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-normal text-gray-900 dark:text-white ml-2">
                Representation Theory of Partially Ordered Sets with an Equivalence Relation
              </h3>
              <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> 2018</span>
              </p>
              <p class="block mt-4 mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
                <span class="font-semibold text-gray-900 dark:text-white"> Skills:</span> <span class="text-gray-900 dark:text-white" style="font-style: italic;"> Poset theory, algebra, matrix theory</span>
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-button collapsed text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100" type="button" data-bs-toggle="collapse" data-bs-target="#flush-publications" aria-expanded="false" aria-controls="flush-publications" style="margin: 0px !important;">
        Pulications
      </h2>
      <div id="flush-publications" class="accordion-collapse collapse" data-bs-parent="#accordionWorkExp">
        <div class="accordion-body">
          <ol class="relative border-l border-gray-200 dark:border-gray-700" style="list-style-type: none;">
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open fa-sm dark:text-white"></i>
              </span>
              <a href="https://www.sciencedirect.com/science/article/abs/pii/S0960077922010803" class="mb-1 text-lg font-normal text-gray-900 dark:text-white">
                Probabilistic solutions of fractional differential and partial differential equations and their Monte Carlo simulations. <span class="font-semibold text-gray-900 dark:text-white">Tamer Oraby, Erwin Suazo, Harrinson Arrubla. </span> <span class="text-gray-900 dark:text-white" style="font-style: italic;">Chaos, Solitons & Fractals, Vol. 166</span>, 2023
              </a>
            </li>
            <li class="mb-10">
              <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-book-open fa-sm dark:text-white"></i>
              </span>
              <p class="font-normal leading-none text-gray-400 dark:text-gray-200">
                Researcher participant in discussions and trials.
              </p>
              <a href="https://iopscience.iop.org/article/10.1088/2632-2153/ad2627" class="mb-1 text-lg font-normal text-gray-900 dark:text-white">
                Functional data learning using convolutional neural networks <span class="font-semibold text-gray-900 dark:text-white">Jose Galarza, Tamer Oraby. </span> <span class="text-gray-900 dark:text-white" style="font-style: italic;">Mach. Learn.: Sci. Technol. Vol.5 015030</span>, 2024
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
