

<form>
   <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Who are you? 🦧</span>
      <input type="text" class="form-control" placeholder="Nickname" aria-label="Username" aria-describedby="basic-addon1">
   </div>
   <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="e-mailer address" aria-label="sender email" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2" style="width: 6.5rem; text-align: left;">Email 📬</span>
   </div>
   <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="What's that email about?" aria-label="email subject" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2" style="width: 6.5rem; text-align: left;">Subject 📌</span>
   </div>
   <div class="input-group mb-3">
      <span class="input-group-text">Message 📝</span>
      <textarea class="form-control" aria-label="Tell me more" style="height: 8rem;"></textarea>
   </div>
   <button type="submit" class="btn btn-dark float-end">Done!</button>
</form>