<!-- 
   Resume.
   This page describes information about the Harrinson. General personal and academic description.
   Plus an Bootstrap accordion button style for showing in clicking the personal details and research summary.
   The main navbar is replaced bu the auxiliary navbar beacuse the main navbar is included in the Hero.
-->

<!-- Extends Main Template -->
{% extends 'main.html' %}

<!-- Main Content Block -->
{% block content %}
   {% include 'resume/resume_content.html' %}
{% endblock %}