{% load static %}

<div class="mt-8">
    <div class="my-2">
        <h2 class="mb-2 text-xl text-gray-400 font-bold dark:text-blue-200 capitalize">
            Machine Learning, Statistics and AI
        </h2>
        <ul class="flex flex-wrap gap-4 items-center my-2">
            <li class="flex items-center">
                <a href="https://www.python.org/">
                    <img src="{% static 'media/python_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.r-project.org/">
                    <img src="{% static 'media/R_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.tensorflow.org/">
                    <img src="{% static 'media/ft_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.microsoft.com/en-us/power-platform/products/power-bi">
                    <img src="{% static 'media/bi_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
        </ul>
        <h2 class="mb-2 text-xl text-gray-400 font-bold dark:text-blue-200 capitalize">
            DB
        </h2>
        <ul class="flex flex-wrap gap-4 items-center my-2">
            <li class="flex items-center">
                <a href="https://www.mysql.com/">
                    <img src="{% static 'media/mysql_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.postgresql.org/">
                    <img src="{% static 'media/postgresql_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
        </ul>
        <h2 class="mb-2 text-xl text-gray-400 font-bold dark:text-blue-200 capitalize">
            Frontend
        </h2>
        <ul class="flex flex-wrap gap-4 items-center my-2">
            <li class="flex items-center">
                <a href="https://tailwindcss.com/">
                    <img src="{% static 'media/tailwindcss_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://getbootstrap.com/">
                    <img src="{% static 'media/bootstrap_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
        </ul>
        <h2 class="mb-2 text-xl text-gray-400 font-bold dark:text-blue-200 capitalize">
            Text Editor
        </h2>
        <ul class="flex flex-wrap gap-4 items-center my-2">
            <li class="flex items-center">
                <a href="https://www.latex-project.org/">
                    <img src="{% static 'media/LaTeX_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://html5.org/">
                    <i class="far fa-brands fa-html5" style="font-size: 40px; color: #e34c26"></i>
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.office.com/">
                    <img src="{% static 'media/Microsoft_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://code.visualstudio.com/">
                    <img src="{% static 'media/vscode_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
        </ul>
    </div>
  </div>