{% load static %}

<div>
    <div class="my-2">
        <h2 class="mb-0 mt-3 prose text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100">
            Machine Learning, Statistics and AI
        </h2>
        <ul class="flex flex-wrap gap-3 items-center my-1">
            <li class="flex items-center">
                <a href="https://www.python.org/">
                    <img src="{% static 'media/python_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.r-project.org/">
                    <img src="{% static 'media/R_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.tensorflow.org/">
                    <img src="{% static 'media/ft2_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.microsoft.com/en-us/power-platform/products/power-bi">
                    <img src="{% static 'media/bi_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
        </ul>

        <h2 class="mb-0 mt-3 prose text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100">
            DB
        </h2>
        <ul class="flex flex-wrap gap-3 items-center my-1">
            <li class="flex items-center">
                <a href="https://www.mysql.com/">
                    <img src="{% static 'media/mysql_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.postgresql.org/">
                    <img src="{% static 'media/postgresql_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
        </ul>

        <h2 class="mb-0 mt-3 prose text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100">
            Frontend
        </h2>
        <ul class="flex flex-wrap gap-3 items-center my-1">
            <li class="flex items-center">
                <a href="https://tailwindcss.com/">
                    <img src="{% static 'media/tailwindcss_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://getbootstrap.com/">
                    <img src="{% static 'media/bootstrap_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
        </ul>

        <h2 class="mb-0 mt-3 prose text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100">
            Text Editor
        </h2>
        <ul class="flex flex-wrap gap-3 items-center my-1">
            <li class="flex items-center dark:block">
                <a href="https://www.latex-project.org/">
                    <img src="{% static 'media/LaTeX_dark_logo.svg' %}" id="latex-logo" class="img-fluid rounded d-block mx-auto" alt="..." style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center dark:hidden">
                <a href="https://www.latex-project.org/">
                    <img src="{% static 'media/LaTeX_light_logo.svg' %}" id="latex-logo" class="img-fluid rounded d-block mx-auto" alt="..." style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://html5.org/">
                    <i class="far fa-brands fa-html5" style="font-size: 40px; color: #e34c26"></i>
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://www.office.com/">
                    <img src="{% static 'media/Microsoft_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
            <li class="flex items-center">
                <a href="https://code.visualstudio.com/">
                    <img src="{% static 'media/vscode_logo.svg' %}" class="img-fluid rounded d-block mx-auto" alt="..."
                    style="height: 40px;">
                </a>
            </li>
        </ul>
    </div>
  </div>

