<!-- 
   home.
   This HTML code extends a base template ('main.html') and includes a modal component for a contact form. It also defines a main content block with two included sections ('home/hero.html' and 'home/home_content.html') for displaying essential homepage content.
-->


<!-- Extends Main Template -->
{% extends 'main.html' %}



<!-- Main Content Block -->
{% block content %}
<div class="max-w-screen-lg md:flex mx-auto">
   <div class="md:w-1/3 p-2 md:flex md:justify-center">
      {% include 'home/author_card.html' %}
     <!-- <AuthorCard /> -->
   </div>
   <div class="md:w-2/3 px-8 divide-y-2 divide-gray-200">
    <div class="my-6">
      {% include 'home/author_intro.html' %}
    </div>
    <div class="my-6">
      {% include 'home/expertise.html' %}
    </div>
    <div class="my-6">
      {% include 'home/author_timeline.html' %}
    </div>
   </div>
 </div>
{% endblock %}