{% load static %}
{% load blog_tags %}
{% load pages_tags %}

{% block content %}

<div class="md:fixed">
  {% for author in author_info %}
    <div class="md:block flex justify-center items-center">
      <div class="flex justify-center items-center">
        <img src="{% static 'media/exm1.jpg' %}" class="shadow-xl md:h-60 md:w-60 h-40 w-40 rounded-full" alt="...">
      </div>
      <div class="mb-2 mx-7 mt-4 justify-center items-center">
        <h2
          class="md:text-1xl text-2xl text-gray-800 font-bold dark:text-blue-100"
        >
          {{ author.author_name }}
        </h2>
        <div class="block md:hidden md:text-lg text-sm text-gray-500 dark:text-gray-400">
          {{ author.author_role }}
        </div>
        <div class="hidden md:block md:text-lg text-gray-500 dark:text-gray-400">
          {{ author.author_role }}
        </div>        
        <a
          href="mailto:harrubla.96@gmail.com"
          class="md:text-lg text-sm text-gray-500 dark:text-gray-400"
        >
        {{ author.author_email }}
        </a>
      </div>
    </div>
 
    <div class="mx-7 hidden md:block">
      <div class="my-1 flex items-center gap-1">
        <div style="width: 40px;" class="flex items-center justify-start">
          <i class="fa-regular fa-envelope fa-lg"></i>
        </div>
        <a class="text-gray-500 dark:text-gray-400" href="mailto:{{ author.author_email }}">
          {{ author.author_email }}
        </a>        
      </div>
      <div class="my-1 flex items-center gap-1">
        <div style="padding-left: 1%; width: 42px;" class="flex items-center justify-start">
          <i class="fas fa-map-marker-alt fa-lg"></i>
        </div>
        <a class="text-gray-500 dark:text-gray-400">
          {{ author.author_country }}
        </a>
      </div>
      <div class="my-1 flex items-center gap-1">
        <div style="width: 40px;" class="flex items-center justify-start">
          <i class="fab fa-github fa-lg"></i>
        </div>
        <a class="text-gray-500 dark:text-gray-400" href="https://github.com/haarublar">
          {{ author.author_git_user }}
        </a>
      </div>
    </div>
  {% endfor %}

  {% for studies in author_studies %}

    <div class="opacity-100" style="width: 60%; margin-left: 10%;">
      <div style="height: 2em;">
      </div>
      <ol class="relative border-l border-gray-200 dark:border-gray-700">
        <li class="mb-1 ml-6">
          <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <i class="fa-solid fa-trophy fa-sm"></i>
          </span>
          <h3 class="flex items-center text-lg font-semibold text-gray-900 dark:text-white ml-2" style="white-space: nowrap;">
            {{ studies.masters_study|truncatewords_forward:3 }}
          </h3>          
          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2" style="white-space: nowrap;">
            {{ studies.masters_study|truncatewords_backward:3 }}
          </h3>
          <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
            {{ studies.masters_university }}, <span class="font-semibold text-gray-900 dark:text-white"> {{ studies.masters_graduation_date|date:'Y' }}</span>
          </p>
        </li>
        <li class="mb-1 ml-6">
          <span class="flex absolute -left-3.5 justify-center items-center w-7 h-7 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <i class="fa-solid fa-trophy fa-sm"></i>
          </span>
          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white ml-2" style="white-space: nowrap;">
            {{ studies.bachelor_study }}
          </h3>          
          <p class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 ml-2" style="line-height: 1.25;">
            {{ studies.bachelor_university }}, <span class="font-semibold text-gray-900 dark:text-white"> {{ studies.bachelor_graduation_date|date:'Y' }}</span>
          </p>
        </li>
      </ol>
    </div>
  {% endfor %}
  
 </div>

{% endblock  %}