{% load static %}


<div>
  <h1
    class="prose text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
    About me
  </h1>
  <div class="mt-8 mb-4 text-gray-500 dark:text-gray-400 text-justify">
    <p>
      Welcome to this blog website. It is under construction, and new blogs, UX features, and styling will be added continuously. My resume, work experience, and academic experience are presented in detail. However, I am not solely focused on academics; in this blog, I strive to present the other side of the coin. <a href="{% url 'about' %}" class="text-primary-700 font-extrabold">
        <i class="fa-solid fa-arrow-right-long"></i>
      </a>
    </p>
  </div>
</div>