{% load static %}

<div>
    <div class="my-2">
        {% for expertise in expertise_categories %}
        <h2 class="mb-0 mt-3 prose text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100">
            {{ expertise.expertise }}
        </h2>
        <div class="hidden dark:block">
            <ul class="flex flex-wrap gap-3 items-center my-1">
                {% for tool in expertise_tools %}
                    {% if tool.tool.id == expertise.id %}
                        {% if tool.tool_name != 'Latex_light' %}
                        <li class="flex items-center">
                            <a href="{{ tool.tool_url }}">
                                <img src="{{ tool.tool_image.url }}" class="img-fluid rounded d-block mx-auto" alt="..." style="height: 40px;" title="{{ tool.tool_name }}">
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="block dark:hidden">
            <ul class="flex flex-wrap gap-3 items-center my-1">
                {% for tool in expertise_tools %}
                    {% if tool.tool.id == expertise.id %}
                        {% if tool.tool_name != 'Latex_dark' %}
                        <li class="flex items-center">
                            <a href="{{ tool.tool_url }}">
                                <img src="{{ tool.tool_image.url }}" class="img-fluid rounded d-block mx-auto" alt="..." style="height: 40px;" title="{{ tool.tool_name }}">
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
  </div>

