<!-- 
   Navigation Buttons.
   Row of navigation buttons for "Notebooks" and "Blog" sections on a personal website. Styled as outlined dark buttons, centered within the row. 
-->


<div class="container mt-16 d-flex justify-content-center">
   <div class="flex flex-col items-center">
      <div class="mb-3 flex space-x-4">
         <a href="https://twitter.com/haarrublar"><i class="fab fa-twitter fa-2x"></i></a>
         <a href="https://github.com/haarrublar"><i class="fab fa-github fa-2x"></i></a>
         <a href="https://www.linkedin.com/in/harrinsonarrubla"><i class="fab fa-linkedin fa-swap-opacity fa-2x"></i></a>
      </div>
      <div class="mb-2 flex space-x-2 text-xl text-gray-500 dark:text-gray-400 prose">
         <div>
            <a>
               Harrinson Arrubla
            </a>
         </div>
         <div>•</div>
         <div>
            <a>
               © 2024
            </a>
         </div>
      </div>
      <div class="mb-2 flex space-x-2 text-gray-500 dark:text-gray-400 prose">
         <div>
            <a>
               Django • Tailwinds • HTML • SQL
            </a>
         </div>
      </div>
      <div class="mb-8 text-gray-500 dark:text-gray-400 prose">
         <div>
            <a href="https://github.com/haarrublar/personalWebsite">
               Personal website
            </a>
         </div>
      </div>
      
      
   </div>
</div>


