<style>
   .forNow {
   background: linear-gradient(
      to bottom right, 
      hsl(177.27, 80.49%, 83.92%) 0%,
      hsl(168.93, 65.72%, 85.59%) 1.7%, 
      hsl(156.7, 52.17%, 86.74%) 4.7%,
      hsl(139.68, 40.74%, 87.53%) 8.9%,
      hsl(117.7, 32.66%, 87.91%) 14.1%, 
      hsl(100.72, 33.3%, 87.02%) 20.1%,
      hsl(91.03, 33.7%, 86.43%) 27%, 
      hsl(84.98, 33.96%, 86.01%) 34.5%,
      hsl(80.28, 34.17%, 85.67%) 42.4%, 
      hsl(75.22, 34.41%, 85.27%) 50.7%,
      hsl(68.57, 34.74%, 84.7%) 59.2%,
      hsl(59.65, 35.49%, 83.86%) 67.8%, 
      hsl(50.41, 45.84%, 83.7%) 76.3%,
      hsl(42.99, 60.06%, 83.41%) 84.6%,
      hsl(37.56, 78.33%, 82.89%) 92.5%,
      hsl(33.91, 100%, 81.96%) 100%
   );
   box-shadow: 0 8px 8px rgba(0,0,0,0.1);
   }
   .navbar-padding {
   padding-top: 2rem;
   padding-bottom: 2rem;
   }
   .navbar-brand {
      color: black;
      font-size: 28px;
   }
   .colbutton {
   display: flex;
   flex-direction: row;
   justify-content: right;
   }
   .colicon {
   display: flex;
   flex-direction: row;
   justify-content: center;
   }

</style>



<div class="container navbar-padding text-center" style="width:90%;border-bottom: 1.5px solid #213;">
   <div class="row align-items-center justify-content-center no-gutters">

      <!-- Brand logo -->
      <div class="col-lg-3 col-md-9 col-sm-9 col-xm-6 text-lg-start mb-2 mb-lg-0 order-md-0">
         <a href="{% url 'home' %}" class="navbar-brand" href="#" style="font-size:28px"><b>haarublar's Journal</b></a>
      </div>

      <!-- Navbar links --> 
      <div class="col-lg-6 col-md-12 col-sm-9 d-flex justify-content-center mb-2 mb-lg-0 order-md-1">
         <a href="{% url 'home' %}" class="mx-1 btn btn-outline-dark">Home</a>
         <a href="{% url 'about' %}" class="mx-1 btn btn-outline-dark">About</a>
         <a href="{% url 'resume' %}" class="mx-1 btn btn-outline-dark">Resume</a>
      </div>

      <!-- Get in touch button -->
      <div class="col-lg-2 col-md-3 col-xm-3 mb-2 mb-lg-0 order-md-2">
         <a href="#" class="btn btn-dark btn-md" data-bs-toggle="modal" data-bs-target="#myModal">Get in touch!➨</a>
      </div>

      <!-- Social icons -->
      <div class="col-2 col-md-2 col-lg-1 col-xm-4 text-center colicon order-md-3">
         <a href="https://github.com/haarrublar" class="social-icons me-1 icon" target="_blank" title="GitHub"><i style="font-size:20px" class="fa">&#xf09b;</i></a>
         <a href="https://twitter.com/haarrublar" class="social-icons me-1 icon" target="_blank" title="X"><i style="font-size:20px" class="fa">&#x1D54F;</i></a>
         <a href="mailto:harrubla.96@gmail.com" class="social-icons me-1 icon" title="Email"><i style="font-size:20px" class="fa">&#xf0e0;</i></a>
         <a href="https://www.linkedin.com/in/harrinsonarrubla/" class="social-icons me-1 icon" title="Linkedin"><i style="font-size:20px" class="fa">&#xf08c;</i></a>
      </div>

   </div>
</div>

