{% load static %}

<nav class="container-navbar mt-4 mb-6 ">
   <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
         <div class="flex items-center">
         <div class="flex-shrink-0">
            <a href="#" class="prose block md:hidden text-black font-bold text-xl">
               🐑🐐🐑
            </a>
            <h2 href="#" class="prose hidden md:block  text-gray-900 dark:text-gray-100 font-bold text-3xl">
               haarrublar's Blog
            </h2>
         </div>
         </div>
         <div class="lg:block prose">
            <div class="">
               <div class="flex justify-end items-end">
                  <div class="flex justify-center items-center space-x-4">
                     <button id="dark-mode-toggle">
                         <i class="far fa-moon fa-2x white"></i>
                     </button>
                     <div class="flex lg:hidden">
                        <button type="button" id="navbar-toggler" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="navbar-menu" aria-expanded="false">
                           <span class="sr-only">Open main menu</span>
                           <svg class="block h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                           </svg>
                           <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                           </svg>
                        </button>
                     </div>
                  </div>
                   <div class="hidden lg:block">
                       <a href="#" class="text-gray-900 dark:text-white px-3 py-2 rounded-md text-xl font-medium">Page</a>
                       <a href="#" class="text-gray-900 dark:text-white px-3 py-2 rounded-md text-xl font-medium">Page</a>
                       <a href="#" class="text-gray-900 dark:text-white px-3 py-2 rounded-md text-xl font-medium">Page</a>
                   </div>
               </div>
           </div>
        </div>        
      </div>
   </div>

   <div id="navbar-menu" class="hidden bg-gradient-to-b from-white to-gray-100 dark:to-gray-600 dark:from-gray-950 rounded-b-2xl" 
   style="margin-left: 3%; margin-right: 3%; width: full;">
      <div class="px-1 pt-2 pb-3 space-y-1 sm:px-3 prose">
         <a href="#" class=" text-gray-900 dark:text-white block px-3 py-2 rounded-md text-xl font-medium">Page 1</a>
         <a href="#" class=" text-gray-900 dark:text-white block px-3 py-2 rounded-md text-xl font-medium">Page 2</a>
         <a href="#" class=" text-gray-900 dark:text-white block px-3 py-2 rounded-md text-xl font-medium">Page 3</a>
      </div>
   </div>
</nav>

<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/darkmode.js' %}"></script>