
<!-- <div class="container navbar-padding" style="width:90%">
   <div class="row align-items-center">
      <div class="prose">
         <a href="{% url 'home' %}" class="navbar-brand h2" href="#"><b>haarublar's Journal</b></a>
      </div>
      <div class="col-md-12 col-lg-6 d-flex justify-content-center mt-2 mt-lg-0">
         <div class="col-auto nav-item">
         <a href="{% url 'home' %}" class="mx-1 btn btn-outline-dark">Home</a>  
         </div>
         <div class="col-auto nav-item">
         <a href="{% url 'about' %}" class="mx-1 btn btn-outline-dark">About</a>
         </div>
         <div class="col-auto nav-item">
         <a href="{% url 'resume' %}" class="mx-1 btn btn-outline-dark">Resume</a>
         </div>
      </div>
   </div>
</div> -->

<div class="flex items-center justify-between py-10">
   <div>
     <Link href="/" aria-label={siteMetadata.headerTitle}>
       <div class="flex items-center justify-between">
         <div class="mr-3">
           <a href="#">Hello</a>
         </div>
       </div>
     </Link>
   </div>
   <div class="flex items-center space-x-4 leading-5 sm:space-x-6">
      <a href="#" class="hidden font-medium text-gray-900 dark:text-gray-100 sm:block">
         Helloasdadsdasdadas
      </a>
     <!-- <SearchButton />
     <ThemeSwitch />
     <MobileNav /> -->
   </div>
</div>